@namespace Podcast.Web.Components
@inherits AddPodcastComponent

Ajouter un podcast pour @Enseignant
    <EditForm Model="Model" OnValidSubmit="HandleUploadPodcast">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="title" placeholder="Titre Episode" @bind-Value="Model.TitreEpisode" />
        <InputDate id="date" type="date" placeholder="Publier à cette date" @bind-Value="Model.DatePublication" />
        @if(Model.Files.Length>0)
        {
            <ul>
                @foreach(var file in Model.Files)
                {
                <li>@file.FileEntry.Name - @file.Status</li>
                }
            </ul>
        }
        <div class="drag-drop-zone">
        <InputFile multiple OnChange="Model.HandleFileSelected" />
            @Model.Status
        </div>

        <button type="submit">Envoyer</button>
        <label style="color:green">@Result</label>
    </EditForm>
