@namespace Podcast.Web.Components
@using Podcast.Domain
@using Podcast.Domain.Equipe
@if ((PlayList?.Episodes?.Count() ?? 0) == 0)
{
    <div>
        <p>Aucune playlist ou épisode à afficher pour le moment.</p>
    </div>
}
else
{
    <DataGrid Items="@PlayList.Episodes">
        <Columns>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Podcast</th>
        </Columns>
        <RowTemplate>
            <td>@context.TitreEpisode</td>
            <td>@($"{context.DatePublication}")</td>
            <td>
                <audio controls src=@context.Chemin style="margin-top:3px;">
                    Votre navigateur ne supporte pas l'élément
                    <code>audio</code>.
                </audio>
            </td>
        </RowTemplate>

    </DataGrid>
}

@inject IPathProvider pathProvider
@code{
    [Parameter] public PlayList PlayList { get; set; }
    [Parameter] public EventCallback<PlayList> PlayListChanged { get; set; }
}